<div class="portal">
  <!-- banner -->
  <el-carousel :interval="4000" type="card" class="banner-carousel" height="320px">
    <el-carousel-item
      v-for="(item, index) in portal.bannerList"
      :key="'banner'+item"
      @click="portal.handleBannerLinkTo(item.url, item.targetType, item.targetId)"
    >
      <img :src="item.imageUrl" alt="" />
    </el-carousel-item>
  </el-carousel>

  <!-- 推荐歌单 -->
  <type-nav
    :title="'推荐歌单'"
    :navs="portal.recommendPlayListNavs"
    v-model:selectedCode="portal.selectedRecommendPlayListType"
    @change="portal.queryPlayListByType"
  ></type-nav>
  <div class="mt16 flex-wrap flex-row-justify-start">
    <playlist-card
      v-for="(item, index) in portal.playList"
      :key="'playlist_'+ index"
      :title="item.name"
      :id="item.id"
      :coverImageUrl="item.coverImgUrl"
      :playCount="item.playCount"
    ></playlist-card>
  </div>

  <!-- 新碟上架 -->
  <type-nav :title="'新碟上架'"></type-nav>
  <div class="portal-rank mt16 mb48">
    <port-rank-detail :playlistVO="portal.hotMusicRankVO"></port-rank-detail>
    <port-rank-detail :playlistVO="portal.newMusicRankVO"></port-rank-detail>
    <port-rank-detail :playlistVO="portal.surgeRankVO"></port-rank-detail>
    <port-rank-detail :playlistVO="portal.eaMusicRankVO"></port-rank-detail>
    <port-rank-detail :playlistVO="portal.krjpMusicRankVO"></port-rank-detail>
  </div>

  <!-- 新碟上架 -->
  <type-nav :title="'热门歌手'"></type-nav>
  <ul class="portal-hot-artists flex-row-justify-center mt24">
    <li v-for="(item, index) in portal.hotSingerList" :key="'artist_'+ index" class="flex-column">
      <img :src="item?.img1v1Url" alt="" />
      <p class="artist mt17" :title="item?.name">{{ item?.name }}</p>
      <p class="count mt6">{{ item?.musicSize }}首歌</p>
    </li>
  </ul>
</div>
