<div class="cm-navbar flex-row-start-end">
  <h5 v-if="title">{{ title }}</h5>
  <ul v-if="navs?.length">
    <li
      v-for="(item, index) in navs"
      :key="'nav_'+ index"
      :class="[selectedCode === item.code ? 'selected' : '' , `font${fontSize}`]"
      @click="onNavChange(item.code)"
    >
      {{ item.name }}
    </li>
  </ul>
  <span :class="['load-more', `font${fontSize}`]" @click="loadMore" v-if="hasLoadMore">
    更多
    <i :class="['iconfont icon-xiangyou', `font${fontSize}`]"></i>
  </span>
</div>
