<div :class="{'play-controller': true, 'locked' : locked}">
  <div class="control">
    <div class="control-panel flex-row-justify-center">
      <div class="playing flex-row-start-center">
        <!-- 头像 -->
        <img v-if="player?.musicVO?.pic" :src="player?.musicVO?.pic" alt="" />
        <img v-else src="../../../../assets/images/common/common-avatar-default.png" alt="" />
        <!-- 进度 -->
        <div class="progress ml20 flex-coulmn">
          <!-- 音乐播放器 -->
          <audio
            :src="player?.musicVO?.url"
            :ref="player.musicRef"
            @timeupdate="player.handleTimeupdate"
            @ended="player.handlePlayEnd('next')"
          ></audio>

          <div class="flex-row-justify-center mb8">
            <span>{{ player?.musicVO?.name ? player?.musicVO?.name : '酷你音乐-陪着我·不要停' }}</span>
            <div>
              <span>{{ formatDuration(player.play_timestamp) }}</span> /
              <span>{{ formatDuration(player?.musicVO?.dt) }}</span>
            </div>
          </div>
          <el-slider
            v-model="player.progress"
            :show-tooltip="false"
            @change="player.handleProgressChange"
            @mousedown="player.handleProgressSliderMouseDown"
            @mouseup="player.handleProgressSliderMouseUp"
          />
        </div>
        <!-- 歌词 -->
        <div class="lrc-list" v-show="player.lrcList?.length">
          <p v-html="player.getShowLyc()"></p>
        </div>
      </div>

      <div class="switch flex-row-start-center">
        <i class="iconfont icon-shangyishou" title="上一首" @click="player.handlePlayEnd('preview')"></i>
        <i
          :class="['iconfont', player?.is_playing ? 'icon-zanting' : 'icon-24gl-playCircle' ]"
          :title="player?.is_playing ? '暂停' : '播放'"
          @click="player.switchPlayStatus"
        ></i>
        <i class="iconfont icon-xiayishou" title="下一首" @click="player.handlePlayEnd('next')"></i>
      </div>

      <div class="operate-btn flex-row-start-center">
        <i class="iconfont icon-jushoucang" title="收藏"></i>
        <i class="iconfont icon-xiazai" title="下载" @click="player.downloadMusic"></i>
        <i
          v-for="(item, index) in Object.keys(player.playTypes)"
          :class="['iconfont', player.playTypes[item]]"
          :title="item"
          v-show="player.typeIndex%Object.keys(player.playTypes).length === index"
          @click="player.switchPlayType"
        >
        </i>
        <i
          :class="['mr6 iconfont', player.is_mute ? 'icon-jingyin' : 'icon-24gl-volumeMiddle']"
          @click="player.switchIsMute"
        ></i>
        <el-slider v-model="player.volume" :show-tooltip="false" @change="player.handleVolumeChange" />
      </div>

      <span class="lock-switch" @click="handleLockorNot">
        <i :class="['iconfont', locked ? 'icon-jiesuo' : 'icon-jiesuo1']"></i>
      </span>
    </div>
  </div>
</div>
