<!--
 * @Author: wanzp
 * @Date: 2022-06-09 22:23:31
 * @LastEditors: wanzp
 * @LastEditTime: 2022-12-04 12:37:21
 * @Description: 
-->
<div class="header">
  <div class="header-container flex-row-justify-center">
    <div class="flex-row-start-center">
      <img src="../../assets/images/portal/portal-logo.png" @click="linkToPortal" />
      <ul class="header-container--tabs">
        <li
          v-for="(item, index) in header.menus"
          :key="'menus-' + index"
          :class="{ active: header.currentTab === item.url }"
          @click="onLinkTo(item.url)"
        >
          {{ item.name }}
        </li>
      </ul>
    </div>
    <div class="flex-row-start-center">
      <input
        placeholder="搜索音乐/歌手/歌单/MV"
        v-model="header.keyword"
        :maxlength="20"
        @keydown.enter="handleSearch"
      />
      <div class="header-tabs font14 ml16">{{ header.username ? header.username : '登录/注册'}}</div>
    </div>
  </div>
</div>
