@font-face {
  font-family: "iconfont"; /* Project id 3459080 */
  src: url('iconfont.woff2?t=1657947396447') format('woff2'),
       url('iconfont.woff?t=1657947396447') format('woff'),
       url('iconfont.ttf?t=1657947396447') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e668";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-xiankuangjiazaishibaidaitiicon:before {
  content: "\e6e1";
}

.icon-bofang:before {
  content: "\e6ad";
}

.icon-yinliang:before {
  content: "\e61c";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-faxian:before {
  content: "\e6e8";
}

.icon-paihangbang:before {
  content: "\e67b";
}

.icon-yinle:before {
  content: "\e613";
}

.icon-MV:before {
  content: "\e600";
}

.icon-gedan:before {
  content: "\e61b";
}

.icon-pinglun:before {
  content: "\e664";
}

.icon-fenxiang:before {
  content: "\e6ff";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-caidan:before {
  content: "\e652";
}

.icon-menu:before {
  content: "\e617";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-z:before {
  content: "\e631";
}

.icon-xiangyou:before {
  content: "\e614";
}

.icon-24gf-play:before {
  content: "\ea82";
}

